# Normalize identities
Séverine Affeldt <severine.affeldt@gmail.com> MLDS-projects
# (optional) collapse Séverine’s two emails:
Séverine Affeldt <severine.affeldt@gmail.com> <severine.affeldt@parisdescartes.fr>
# (optional) collapse your variants:
Edi Prifti <edi.prifti@gmail.com> eprifti <edi.prifti@gmail.com>
